/* ************* MAIN PAGE ******************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(//db.onlinewebfonts.com/c/9da41c570d5a221cb2486d78769a076d?family=Neue+Helvetica);

@font-face {
    font-family: "Neue Helvetica";
    src: url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.eot");
    src: url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.woff") format("woff"), url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.svg#Neue Helvetica") format("svg");
}

body {
    background-image: url("../images/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    cursor: default;
    text-decoration: none;
}

/* *********TOOLTIP************* */
.ui-tooltip {
    color: rgb(65, 65, 65) !important;
    font-size: 0.9rem !important;
    padding: 0.188rem 0.75rem 0.313rem !important;
    position: absolute !important;
    background: rgb(184, 199, 231) !important;
    border: none !important;
    z-index: 100 !important;
}

.ui-tooltip-content::after,
.ui-tooltip-content::before {
    top: 100% !important;
    border: solid transparent !important;
    content: " " !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
}

.bottom .ui-tooltip-content::after {
    border-top-color: rgb(184, 199, 231) !important;
    border-width: 0.5rem !important;
    left: 50% !important;
    margin-left: -0.5rem !important;
}

/* *********FOLDERS************* */
.folder-style {
    width: 4.688rem;
    height: 4.688rem;
    text-align: center;
}

#position-box {
    position: relative;
    top: 2rem;
    left: 2rem;
    z-index: 5;
}

#position-box2 {
    position: relative;
    top: 7rem;
    left: 2rem;
    z-index: 5;
}

/* resizable folder box */
div .resizable {
    width: 56.25rem;
    height: 34.375rem;
    min-width: 51.875rem;
    min-height: 31.25rem;
    max-width: 84.375rem;
    max-height: 48.438rem;
    padding: 0.5em;
    background-color: transparent;
    border-radius: 5px;
    border: transparent;
    cursor: default;
    -webkit-box-shadow: -4px 9px 43px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 9px 43px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 9px 43px -16px rgba(0, 0, 0, 0.75);
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 25rem;
    max-height: 25rem;
    font-size: 0.8rem;
    color: rgb(83, 83, 83);
}

.item-category {
    margin-left: 0.4rem;
    font-size: 0.7rem;
    margin-top: 0.438rem;
}

.item-selected {
    height: 1.563rem;
    padding-top: 0.25rem;
    margin-top: 0.125rem;
}

.item-selected:hover {
    background-color: #caced6;
}

.item-selected img {
    width: 1.125rem;
    margin-right: 0.25rem;
    margin-left: 1rem;
    vertical-align: middle;
}

.item-selected a {
    vertical-align: middle;
}

#resizable-box {
    position: absolute;
    top: 2rem;
    left: 20rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.box-header {
    min-height: 3.438rem;
    background: rgb(229, 229, 229);
    background: linear-gradient(180deg, rgba(229, 229, 229, 1) 0%, rgba(217, 217, 217, 1) 35%, rgba(205, 205, 205, 1) 100%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #c1c1c1;
}

.box-body {
    height: 86%;
    background-color: transparent;
    display: flex;
    border: none;
    border-radius: 5px;
}

.box-sidebar {
    background-color: #dbdbdb;
    opacity: 0.95;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    white-space: nowrap;
    /* overflow-y: scroll; */
}

.sidebar-background {
    background-color: #dbdbdb;
    opacity: 0.95;
}

.box-main {
    width: 100%;
    background-color: white;
    border-right: 1px solid #c1c1c1;
    overflow-y: hidden;
}

/* ************category content in Finder******** */
.app-layout {
    font-size: 0.8rem;
    width: 100%;
    padding: 0.938rem 0 0.938rem 1.563rem;
}

.align-center {
    text-align: center;
    width: 3.75rem;
    margin-right: 3.438rem;
    margin-bottom: 0.75rem;
}

.app-layout img {
    width: 3.75rem;
}

#sidebar-airdrop {
    display: block;
}

#sidebar-recents {
    display: none;
}

#sidebar-applications {
    display: none;
    flex-wrap: wrap;
}

#sidebar-google-drive {
    display: none;
}

#sidebar-desktop {
    display: none;
}

#sidebar-documents {
    display: none;
}

#sidebar-pictures {
    display: none;
}

#sidebar-your-macbook-pro {
    display: none;
}

.box-footer {
    min-height: 1.563rem;
    background: rgb(228, 228, 228);
    background: linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(208, 208, 208, 1) 100%);
    border: 1px solid #c1c1c1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    width: 10rem;
    margin-top: 0.188rem;
    margin-left: 0.375rem;
}

.buttons img {
    width: 0.75rem;
    margin-right: 0.125rem;
}

.folder-name {
    width: 50%;
    font-size: 0.85rem;
    color: rgb(83, 83, 83);
    margin-bottom: 0.188rem;
}

.folder-name img {
    width: 1.063rem;
    vertical-align: middle;
}

.folder-name span {
    vertical-align: middle;
}

.buttons-left {
    width: 10rem;
    margin-top: 0.188rem;
    margin-left: 0.625rem;
}

.buttons-left button {
    padding: 0.125rem 0.375rem 0.063rem;
    border-radius: 3px;
    border: none;
    border-bottom: 0.1px solid rgba(83, 83, 83, 0.5);
    width: 1.5rem;
    height: 22px;
    margin-left: -0.125rem;
    outline: none;
}

.buttons-left img {
    width: 0.813rem;
}

.buttons-right {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin-left: 0.313rem;
    margin-right: 0.5rem;
}

.control-buttons2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-buttons {
    display: flex;
}

.menu-icon-buttons {
    display: flex;
}

.sort-button button:nth-of-type(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0.313rem 0.563rem 0.125rem 0.563rem;
    border-right: 1.5px solid rgba(83, 83, 83, 0.2);
}

.sort-button button:nth-of-type(2),
.sort-button button:nth-of-type(3) {
    padding: 0.313rem 0.625rem 0.125rem 0.563rem;
    border-radius: 0;
    border-right: 1.5px solid rgba(83, 83, 83, 0.2);
}

.sort-button button:nth-of-type(4) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0.313rem 0.563rem 0.125rem 0.313rem;
}

.setting-button {
    margin-left: 0.813rem;
}

.setting-button button {
    padding: 0.313rem 0.563rem 0.125rem 0.5rem;
    margin-right: 0.5rem;
}

.buttons-right button {
    border-radius: 3px;
    border: none;
    border-bottom: 0.1px solid rgba(83, 83, 83, 0.5);
    margin-left: -0.313rem;
    outline: none;
}

.buttons-right img {
    width: auto;
    height: 0.813rem;
}

.buttons-right span img {
    width: 0.5rem;
    margin-left: 0.5rem;
}

.search-menu-bar input {
    width: 20rem;
    height: 1.438rem;
    border-radius: 4px;
    border: 1px solid rgba(83, 83, 83, 0.5);
    background: url("images/finder/loupe.svg") no-repeat scroll 7px 4px;
    background-size: 0.75rem;
    background-color: white;
    padding-left: 1.875rem;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgba(83, 83, 83, 0.5);
    ;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(83, 83, 83, 0.5);
    ;
}

::placeholder {
    color: rgba(83, 83, 83, 0.5);
    ;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 1pt 2pt rgb(63, 129, 230);
}

/* desktop folder icon */
.desktop-folders {
    height: 100%;
}

.desktop-folders div {
    background-color: transparent;
    border: none;
}

.folder-icon {
    width: 100%;
}

.icon-font {
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
}

/* *********MENU BAR************* */
.stripe {
    display: flex;
    justify-content: space-between;
    height: 1.375rem;
    width: 100%;
    padding: 0;
    background-color: #c7d1fc;
}

.menu-wrapper {
    height: 100%;
}

.ui-widget.ui-widget-content {
    -webkit-box-shadow: -4px 9px 43px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 9px 43px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 9px 43px -16px rgba(0, 0, 0, 0.75);
}

#apple-icon {
    height: 1.125rem;
    position: relative;
    bottom: 0.125rem;
}

ul.parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-left: 0.8rem;
}

ul.parent>li {
    list-style: none;
    font-size: 0.9rem;
    height: 100%;
    padding: 0.188rem 0.563rem 0 0;
}

ul.parent>li a {
    color: rgb(33, 34, 46);
    height: 100%;
    margin-left: 0.563rem;
}

ul.parent>li:hover {
    background-color: rgb(63, 129, 230);
}

ul.parent>li a:hover {
    color: white;
}

ul.child {
    display: none;
    z-index: 9999;
    /* hover not moving menu items */
    position: absolute;
    top: 1.375rem;
    background: #d7d7e2 !important;
    padding: 0.3rem 0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

ul.child>li {
    display: flex;
    font-size: 0.9rem;
    cursor: default !important;
    white-space: nowrap;
}

.submenu {
    background: #d7d7e2 !important;
    border-radius: 5px;
    width: auto !important;
    height: auto !important;
    padding-bottom: 0.188rem !important;
}

.submenu li {
    display: flex !important;
    cursor: default !important;
}

/* highlight across two divs */
.ui-menu .ui-menu-item-wrapper {
    width: 100%;
    padding: 0.188rem 0.563rem 0 1.313rem !important;
}

/* moseover menu item highlight*/
.ui-state-active {
    background-color: rgb(90, 147, 233) !important;
    border: none !important;
    /* set to 0 so it doesnt jump  */
    padding: 0 !important;
    margin: 0 !important;
}

#checkbox {
    position: absolute;
    left: 0.063rem;
}

.item-align-right {
    text-align: right;
}

#battery-level {
    margin-right: -0.5rem;
    font-size: 0.8rem;
}

.menu-items-left {
    width: 23.75rem;
}

#logout a {
    color: rgb(33, 34, 46) !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9rem !important;
}

.menu-items-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 1.5rem;
}

.menu-items-right a {
    margin-left: 1rem;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}

#current-time {
    font-size: 0.9rem;
}

.sidebar-icons {
    width: 0.938rem;
}

#search-input {
    background-color: #a8abbb;
    padding: 0.188rem 0 0.313rem;
}

#search-input input {
    width: 15.625rem;
    height: 1.25rem;
    border-radius: 3px;
    border: none;
    background-color: #2b2b30;
}

#search-input form {
    padding: 0.188rem 0.25rem 0 1.313rem !important;
}

.spacing-line {
    border: 1px solid #cbcee0 !important;
    margin-top: 0.5rem !important;
}

/* *********DOCK BAR************* */

.dock-menu {
    height: 5rem;
    width: 54.375rem;
    margin: 0 auto;
}

.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.563rem;
    margin: 0;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
}

.background-dock {
    background-color: rgba(131, 158, 224, 0.712);
    height: 5.125rem;
    width: 56.25rem;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.main-nav-list {
    display: inline-block;
    padding: 0;
    list-style: none;
}

.main-nav-list li {
    display: inline-block;
    margin: 0 0.313rem;
    padding: 0;
    min-width: 3.125rem;
    min-height: 3.125rem;
}